body {
  height: 1000px;
  background-image: linear-gradient(
    to right,
    rgba(231, 234, 238, 0.247),
    rgba(66, 255, 97, 0.904)
  );
}

.container2 {
  width: 525px;
  height: 600px;
  background-color: white;
  left: 100%;
  top: 0%;
  overflow: auto;
  border-radius: 6px;
  margin-left: 30px;
  position: absolute;
  /* scrollbar-face-color: #ce7e00;
  scrollbar-shadow-color: #ffffff; */
}

.container {
  width: 250px;
  height: 300px;
  background-color: white;
  left: 20%;
  top: 20%;
  border-radius: 6px;
  position: absolute;
}

#line {
  width: 500px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 1px;
  margin-top: 1px;
  position: absolute;
}

#emptyline {
  position: absolute;
  width: 500px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

#name {
  margin-top: 5px;
  margin-bottom: 40px;
}

#time {
  margin-top: 20px;
  margin-bottom: 5px;
  top: 10%;
  font-size: 10px;
}

#leftTitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
  top: 30%;
}

#title1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  text-align: center;
  margin-left: 0px;
  left: 15%;
  margin-top: 30px;
  color: black;
}

#title2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  text-align: center;
  margin-left: 0px;
  left: 15%;
  margin-top: 30px;
  margin-bottom: 50px;
  color: black;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 50px;
  color: black;
}

h4,
h3 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

h6 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

li {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 10px;
  color: red;
}

ul {
  font-family: "Courier New", Courier, monospace;
  font-weight: Bold;
  text-align: center;
  font-size: 15px;
}

button {
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  text-align: center;
  font-size: 15px;
  height: 23px;
  width: 90px;
  background-color: black;
  color: white;
  border-radius: 4px;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  margin-left: 5px;
}

label {
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  color: solid black;
}

input {
  font-family: "Courier New", Courier, monospace;
  align-self: center;
  width: 90%;
  border: none;
  border-bottom: 2px solid black;
  height: 22px;
}
